# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/

# Data & outputs (large files)
data/
hasil_monitoring/
hasil_monitoring_docker/
*.png
*.jpg
*.jpeg

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Docker
.dockerignore